<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->

    <!-- Default page to serve -->
    <servlet>
        <servlet-name>QQ</servlet-name>
        <servlet-class>ru.rs.testcase.phones.server.SimpleServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QQ</servlet-name>
        <url-pattern>/phonebook/qq</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>PhoneBook.html</welcome-file>
    </welcome-file-list>

</web-app>
