<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Servlets -->
<servlet>
  <servlet-name>dispatchServlet</servlet-name>
  <servlet-class>ru.rs.testcase.phones.server.rpc.DispatcherServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>dispatchServlet</servlet-name>
  <url-pattern>/phonebook/dispatch</url-pattern>
</servlet-mapping>
    <!-- Default page to serve -->


    <welcome-file-list>
        <welcome-file>PhoneBook.html</welcome-file>
    </welcome-file-list>

</web-app>
